.header__image {
    width: 382px;
    height: 382px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    right: 94px;
    bottom: 146px;
    z-index: 1;
    /* можно задать z-index: -1, тогда другим блокам не надо ничего менять, по умолчанию у всех z-index: 0 */
}