.place__wrapper{
    min-width: 50%;
    background-color: #E3DFDF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 75px 0 95px 76px;
    box-sizing: border-box;
}