.header__title{
    font-family: HP Simplified;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #F1506D;
    margin-top: 220px;
    margin-bottom: 0;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}